<form role="form" class="form-horizontal">
    <h1>Login</h1>
    <legend>Goal Setting</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Met</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary btn-lg">The Day is Done</button>
        </div>
    </div>
</form>
